/* Style CSS sheet */
body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1;
}

textarea {
  background: transparent;
  border: none;
  resize: none;
  color: var(--color-black);
  border-left: 1px solid var(--color-black);
  padding: 10px;
}

.jumbotron {
  text-align: center;
  background-color: transparent;
  color: var(--color-black);
  border-radius: 0;
  border-bottom: 10px solid var(--color-black);
}

.description {
  white-space: pre-wrap;
}

.time-block {
  text-align: center;
  border-radius: 15px;
}

.row {
  white-space: pre-wrap;
  height: 80px;
  border-top: 1px solid var(--color-white);
}

.hour {
  background-color: var(--color-white);
  color: var(--color-black);
  border-top: 1px dashed var(--color-black);
}

.past {
  background-color: var(--color-past);
}

.present {
  background-color: var(--color-present);
}

.future {
  background-color: var(--color-future);
}

.saveBtn {
  border-left: 1px solid var(--color-black);
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: var(--color-saveBtn);
  color: var(--color-white);
}

.saveBtn i:hover {
  font-size: 20px;
  transition: all 0.3s ease-in-out;
}
